<div class="jumbotrom jumbotrom-fluid">
    <div class="container">
        <h1><b>Acesso Negado</b></h1>
        <p class="lead">você não tem autorização para acessar esta página.</p>
    </div>
</div>